<?xml version="1.0"?>
<launch>
  <arg name="output" default="screen"/>
  <arg name="respawn" default="false"/>
  <arg name="start_manager" default="false"/>
  <arg name="start_server" default="false"/>
  <arg name="nodelet_manager" default="gravity_filter_nodelet_manager"/>
  <arg name="launch-prefix" default=""/>

  <arg name="default_inputs" default="env"/>
  <arg name="ressource_folder" default="$(find laas_objects)/res/"/>
  <arg name="time_step" default="0.01"/>
  <arg name="simulation_step" default="1.0"/>

  <node name="$(arg nodelet_manager)"
        pkg="nodelet" type="nodelet"
        args="manager"
        respawn="$(arg respawn)"
        output="$(arg output)"
        launch-prefix="$(arg launch-prefix)"
        if="$(arg start_manager)"/>

  <node name="uwds_server"
        pkg="nodelet" type="nodelet"
        args="load uwds/UwdsServerNodelet $(arg nodelet_manager)"
        respawn="$(arg respawn)"
        output="$(arg output)"
        launch-prefix="$(arg launch-prefix)"
        if="$(arg start_server)"/>

  <node name="gravity_filter"
        pkg="uwds_physics_clients" type="gravity_filter.py"
        respawn="$(arg respawn)"
        output="$(arg output)"
        launch-prefix="$(arg launch-prefix)">
    <rosparam subst_value="true">
      default_inputs: $(arg default_inputs)
      ressource_folder: $(arg ressource_folder)
      time_step: $(arg time_step)
      simulation_step: $(arg simulation_step)
    </rosparam>
  </node>
</launch>
